<html lang="en">
<head>
    <link rel="stylesheet" href="/assests/css/burger_style.css" type="text/css" />
    <title>!!!EAT DE BURGER!!!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assests/js/burgerjs.js"></script>

</head>
<body>
    {{{body}}}
</body>
</html>